h1 { color: #219ebc; 
   }

h2 { color: #005f73;
   }

#oswaldfont {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
   font-weight: 20px
}


#montserratfont {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.container {
    display: flex;
    gap: 70px;
   justify-content: center;
}

.pond{
   display: flex;
   justify-content: center;
}


.scrollbar-thumb-teal-300{ --tw-scrollbar-thumb: var(--color-teal-300); /* oklch(85.5% 0.138 181.071) */
scrollbar-color: var(--tw-scrollbar-thumb) var(--tw-scrollbar-track);
                         }

body{
   background-color: #fefae0
}
