h1 { color: #c1121f; 
    
.oswald-<oswald> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body{
    background-color: #fdf0d5;
}
