h1 { color: #219ebc; 
   }

h2 { color: #005f73;
   }

#oswaldfont {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
   font-weight: 20px
}
  

body {background-color: #fefae0;
}

.container {
    display: flex;
    gap: 70px;
   justify-content: center;
}
